<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funny Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
        
    <h1 class="funny-title">😄 Enter Your Details! 🦄</h1>
    <form action="/submit" method="POST" class="funny-form">

        <label for="name">Your Super Cool Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Your Awesome Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="email">Your Fav Color:</label>
        <input type="color" id="color" name="color" required><br><br>
        <label for="profession">Your Profession:</label>
        <select id="profession" name="profession">
            <option value="developer">Developer</option>
            <option value="designer">Designer</option>
            <option value="manager">Manager</option>
        </select>
        <p>Your Hobbies:</p>
            <input type="checkbox" id="books" name="hobbies" value="books">
            <label for="books">Books</label><br>
            <input type="checkbox" id="sports" name="hobbies" value="sports">
            <label for="sports">Sports</label><br>
            <input type="checkbox" id="games" name="hobbies" value="games">
            <label for="games">Games</label>
        <p>Your Level:</p>
        <label><input type="radio" name="level" value="beginner"> Beginner</label>
        <label><input type="radio" name="level" value="advanced"> Advanced</label><br><br>
        <label ></label>
        <button type="submit" class="funny-button">🚀 Let's Go!</button>
        <button type="button" id="addBtn" class="funny-button">Нажми меня</button>
        <script>
          document.getElementById('addBtn').addEventListener('click', function() {
            const newElement = document.createElement('p');
            newElement.textContent = '101 Youtube';
            document.getElementsByClassName('funny-form')[0].appendChild(newElement);
            });

        </script>
       
    </form>
</body>
</html>